name: ci-cd
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Obter o código do Projeto
        uses: actions/checkout@v4

      - name: Setup do .NET Core
        uses: actions/setup-dotnet@v3.4.2
        with:
          dotnet-version: 8.x

      - name: Execução de teste
        working-directory: ./02-review/src/Review-Filmes.Test.Unit
        run: dotnet test

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build e push da imagem Docker
        uses: docker/build-push-action@v6
        with:
          # Nome da Imagem
          tags: | 
            fabricioveronez/review-jornada:v${{ github.run_number }}
            fabricioveronez/review-jornada:latest
          # Contexto 
          context: ./02-review/src
          # Dockerfile   
          file: ./02-review/src/Review-Filmes.Web/Dockerfile
          push: true
      
  cd:
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - name: Obter o código do Projeto
        uses: actions/checkout@v4

      - name: "Configurar o Kubeconfig"
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.K8S_CONFIG }}
                
      - name: "Executar o apply"
        uses: Azure/k8s-deploy@v5
        with:
          manifests: |
            ./02-review/k8s/deployment.yaml
          images: | 
            fabricioveronez/review-jornada:v${{ github.run_number }}
